*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.div1{
    margin: 10%;
    height: 200px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para{
    height: 200px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 300px;
}